.icon-circle {
    font-size: -webkit-xxx-large;
    position: absolute;
}

.box {
    border-top: none;
}

.bar-flex {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}